@font-face {
  font-family: 'FontAwesome';
  src: url('/packages/font-awesome/lib/font-awesome/font/fontawesome-webfont.eot?v=4.0.0');
  src: url('/packages/font-awesome/lib/font-awesome/font/fontawesome-webfont.eot?#iefix&v=4.0.0') format('embedded-opentype'), url('/packages/font-awesome/lib/font-awesome/font/fontawesome-webfont.woff?v=4.0.0') format('woff'), url('/packages/font-awesome/lib/font-awesome/font/fontawesome-webfont.ttf?v=4.0.0') format('truetype'), url('/packages/font-awesome/lib/font-awesome/font/fontawesome-webfont.svg#fontawesomeregular?v=4.0.0') format('svg');
  font-weight: normal;
  font-style: normal;
}