@font-face {
  font-family: 'FontAwesome';
  src: url('/packages/font-awesome/lib/font-awesome/font/fontawesome-webfont.eot?v=3.0.1');
  src: url('/packages/font-awesome/lib/font-awesome/font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('/packages/font-awesome/lib/font-awesome/font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('/packages/font-awesome/lib/font-awesome/font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}